/* common css*/
input.easyui-datebox{
    width: 260px;
}

.cs-myform-ul {
    border-top: 1px dotted #CDCDCD;
    list-style: none;
    clear: none;
}
.cs-myform-ul li a{
    float: right;
    margin-top: 10px;
}
.cs-myform-ul-normal {
    list-style: none;
    clear: none;
}
.cs-myform-ul-normal li a{
    margin-left: -40px;
}
.cs-myform-table th {
    background: #CCE6FF;
}
#_easyui_textbox_input7.textbox-text,#_easyui_textbox_input9.textbox-text {
    background: #CCE6FF;
}

