<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>QYTool</title>
    <!-- 载入easyUI-->
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui-1.5.5/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui-1.5.5/jquery.easyui.mobile.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui-1.5.5/jquery.easyui.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui-1.5.5/locale/easyui-lang-zh_CN.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-easyui-1.5.5/themes/bootstrap/easyui.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-easyui-1.5.5/themes/icon.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mypc.css')}}">
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    </script>
</head>
<body>

<div class="easyui-panel" title="TODO Input" style="width:100%;padding:30px 60px;">
 {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
{% if error %}
    {% for errorcontent in error %}
        <p class="error"><strong>Error:</strong> {{ errorcontent }}
    {% endfor %}
{% endif %}
 <div id="message" style="text-align: center">
 </div>
    <form id="todoff" action="{{ url_for('todo.content_update') }} " method="post">
        <div style="margin-bottom:20px">
            <input id="title" class="easyui-validatebox" name="title_index" label="标题:" labelPosition="top" prompt="标题" style="width:100%;height:52px"  value="{{ '%s'% request.form['title_index'] if "title_index" in request.form else session['title_index']}}" data-options="required:true"/>
        </div>
        <div style="margin-bottom:20px">
            <input id="content" class="easyui-textbox" name="content_index" data-options="multiline:true" labelPosition="top" label="内容:" prompt="请输入内容" value="{{ '%s'% request.form['content_index'] if "content_index" in request.form else session['content_index']}}"
                   style="width:100%;height:104px" required>
        </div>
        <div style="margin-bottom:20px" id="newfilelist">
            <h2 class="textbox-label" style="width: 95%">注意:【新建】的场合，选择的附件需要点击【新建】才能保存文件</h2>
            <input type="hidden"  id="item_num" value="{{ entries|count }}">
            <table >
                <colgroup>
					    <col span="1" style="width: 70.0em;">
					    <col>
                </colgroup>
                <tbody id="attach">
                    {% for entry in entries%}
                        <tr id="li_{{loop.index}}"><th  id="item_{{loop.index}}">{{ entry.filename }}</th><td><a href="javascript:void(0)" class="easyui-linkbutton"  id="del_{{loop.index}}" style="width:40px">del</a><input type="hidden"  id="fileid{{loop.index}}" value="{{ entry.fileid }}"><input type="hidden"  id="fieldname{{loop.index}}" value="{{ entry.fieldname }}"></td><td><a href="{{ url_for('.download_file',fileid=entry.fileid) }}" class="easyui-linkbutton"  id="download_{{loop.index}}" style="width:70px">download</a></td></tr>
                    {% endfor %}
                    <tr><th><input id="addfile"
                            class="easyui-filebox" style="width:85%" buttonText="选择"><a id="addfilebutton" href="javascript:void(0)" class="easyui-linkbutton" plain="true" outline="true" style="width:40px">追加</a></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divide" style="margin-bottom:10px">
                <div id="left">
                    <span>权&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;限:</span>
                    <span>
                        {% if authchecked == "false" %}
                            <input id="sw3" class="easyui-switchbutton"  data-options="onText:'凭密可见',offText:'对外公开'" style="width: auto">
                        {% elif  authchecked == "true"  %}
                            <input id="sw3" class="easyui-switchbutton" data-options="onText:'凭密可见',offText:'对外公开'"  style="width: auto" checked>
                        {% endif %}
                    </span>
                </div>
                <div id ="right">
                    <span>完&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;了:</span>
                    <span>
                        {% if finishchecked == "false" %}
                            <input id="sw4" class="easyui-switchbutton"   data-options="onText:'完了',offText:'继续中'" style="width: auto">
                        {% elif  finishchecked == "true"  %}
                            <input id="sw4" class="easyui-switchbutton" data-options="onText:'完了',offText:'继续中'" style="width: auto" checked>
                        {% endif %}
                    </span>
                </div>
                    <input type="hidden" name="sw3_name_hidden" id="sw3_hidden" value="{{ sw3_name_hidden_value }}" >
        </div>
        <div id="divide" style="margin-bottom:10px">
                <div id="left">
                    <span>预定期限:</span>
                    <span>
                        <input id="scheduleday" name="scheduleday_name" class="easyui-datebox" prompt="请输入预定期限"  data-options="selectOnNavigation:false,novalidate:true" value="{{ '%s'% request.form['scheduleday_name'] if "scheduleday_name" in request.form else session['scheduleday_name']  }}" >
                    </span>
                </div>
                <div id ="right">
                    <span>必须期限:</span>
                    <span>
                        <input id="mustday" class="easyui-datebox" name="mustday_name" prompt="请输入必须期限" value="{{ '%s'% request.form['mustday_name'] if "mustday_name" in request.form else session['mustday_name']  }}" >
                    </span>
                </div>
        </div>
        <div id="divide" style="margin-bottom:10px">
                    <input type="hidden" name="sw4_name_hidden" id="sw4_hidden" value="{{ sw4_name_hidden_value }}" >
                <div id="left">
                    <span>创&nbsp;建&nbsp;&nbsp;日:</span>
                    <span>
                        <input id="creatday" name="create_date_index" class="easyui-datebox" data-options="editable:false" value="{{ '%s'% request.form['create_date_index'] if "create_date_index" in request.form else session['create_date_index']  }}">
                    </span>
                </div>
            <div id ="right">
            </div>
        </div>
        <input type="hidden" name="buttonflag_name" id="buttonflag" value="{{ buttonflag }}" >
        <input type="hidden" name="item_id_name" id="item_id" value="{{ item_id }}" >
    </form>
    <div>
        <ul class="cs-myform-ul">
            <li>
                {% if buttonflag == "false" %}
                    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" outline="true" iconCls="icon-ok"
                        onclick="$('#todoff').submit()" style="width:60px" data-option="buttonAlign:'right'">新建
                    </a>
                {% elif  buttonflag == "true"  %}
                    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" outline="true" iconCls="icon-ok"
                        onclick="$('#todoff').submit()" style="width:60px" data-options="buttonAlign:'right'">更新
                    </a>
                {% endif %}
            </li>
        </ul>
        <ul class="cs-myform-ul-normal">
            <li>
                <a href="{{ url_for('todo.back_list') }}"class="easyui-linkbutton back" plain="true" outline="true" style="width:60px;alignment: right">返回</a>
            </li>
        </ul>
    </div>

</div>
<script>
    $.extend($.fn.textbox.methods, {
        addClearBtn: function (jq, iconCls) {
            return jq.each(function () {
                var t = $(this);
                var opts = t.textbox('options');
                opts.icons = opts.icons || [];
                if (opts.icons.length == 0) {
                    opts.icons.unshift({
                        iconCls: iconCls,
                        handler: function (e) {
                            $(e.data.target).textbox('clear').textbox('textbox').focus();
                            $(this).css('visibility', 'hidden');
                        }
                    })
                }
                ;
                t.textbox();
                if (!t.textbox('getText')) {
                    t.textbox('getIcon', 0).css('visibility', 'hidden');
                }
                t.textbox('textbox').bind('keyup', function () {
                    var icon = t.textbox('getIcon', 0);
                    if ($(this).val()) {
                        icon.css('visibility', 'visible');
                    } else {
                        icon.css('visibility', 'hidden');
                    }
                });
            });
        }
    });

    $.fn.datebox.defaults.parser  = function(s){
            if (!s) {
                return new Date();
            }
            var ss = s.split("-");
            var y = parseInt(ss[0], 10);
            var m = parseInt(ss[1], 10);
            var d = parseInt(ss[2], 10);
            if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
                return new Date(y, m - 1, d);
            } else {
                return new Date();
            }
    };

    $.fn.datebox.methods.initValue  = function(jq, _bfc) {
       //jq.preventDefault();
    }
    $.extend($.fn.validatebox.defaults.rules, {
      minLength: {
        validator: function(value, param){
            return value.length >= param[0];
        },
        message: 'Please enter at least {0} characters.'
      }
     });

    $(function () {
        //标题，内容-带清除标记文本框
        $('#title').textbox().textbox('addClearBtn', 'icon-clear');
        $('#content').textbox().textbox('addClearBtn', 'icon-clear');
        //创建日-自动附上今天日期
        if ($('#creatday').attr('value') == '') {
            var curr_time = new Date();
            var strDate = curr_time.getFullYear() + "-";
            strDate += curr_time.getMonth() + 1 + "-";
            strDate += curr_time.getDate() + "-";
            strDate += curr_time.getHours() + ":";
            strDate += curr_time.getMinutes() + ":";
            strDate += curr_time.getSeconds();
            $("#creatday").datebox("setValue", strDate);
        }
        //预定期限设值
        //$('#scheduleday').datebox('setValue', "{{ request.form['scheduleday_name']}}");


        //随值的改变把值存入hidden中
        $('#sw3').switchbutton({
            onChange: function(checked){
                 if (checked == true){
                     $("#sw3_hidden").val("True")
                 }else if (checked == false) {
                     $("#sw3_hidden").val("False")
                 }
           }
        })
        //随值的改变把值存入hidden中
         $('#sw4').switchbutton({
             onChange: function (checked) {
                 if (checked == true){
                     $("#sw4_hidden").attr("value","True");
                 }else if (checked == false) {
                     $("#sw4_hidden").attr("value","False");
                 }
             }
        })

        //$('#scheduleday').datebox({focus:function(event) {
            //console.log("active!")
            //event.preventDefault();
        //}});
         //取得现有文件个数
         num = $("#item_num").val()
    });
    //文件检查&上传
     $('#addfilebutton').bind('click', function(){
         //清除msg领域信息
         $("#message").empty();
         //验证上传文件
         var file = $("#addfile").filebox("files")[0]
         if (file == undefined) {
             alert('请选择一个文件上传！'); return;
         }
         var fileSize = Math.round(file.size * 100 / (1024 * 1024)) / 100;
         if (fileSize > 3) {
          alert('文件超过3MB，禁止上传！'); return;
         }
         //文件上传用
         num++
         var formData = new FormData();
         formData.append('fileup',file);
         formData.append('item_id',$('#item_id').val());
         formData.append('num',num);
         //文件上传
         $.ajax({
             type:'POST',
             url:$SCRIPT_ROOT + '/todo/_add_file',
             data:formData,
             contentType:false,
             processData:false,
             cache:false,
             success: function (data) {
                if (data.result["result"] == 0) {
                    if (data.result["mode"] == 1) {
                        //更新上传正常
                        $("#message").append("<p class=\"info\" style=\"font:50px;color:mediumorchid\">上传正常</p>");
                        //清空选择的文件
                        $("#addfile").filebox("clear");
                        //增加删除按钮
                        $("#attach").prepend("<tr id=\"li_" + num + "\"><th id=\"item_" + num + "\">" + data.result["filename"] + "</th><td><a href=\"javascript:void(0)\" class=\"easyui-linkbutton\"  style=\"width:40px\" id=\"del_" + num + "\">del</a><input type=\"hidden\"  id=\"fileid" + num + "\" value=\"" + data.result["fileid"] + "\"><input type=\"hidden\"  id=\"fieldname" + num + "\" value=\"" + data.result["fieldname"] + "\"></td><td><a href=\"/todo/_download_file/" + data.result["fileid"] + "\" class=\"easyui-linkbutton\" style=\"width:70px\" id=\"download_" + num + "\">download</a></td></tr>");
                        //渲染增加部分的样式
                        var a = "#li_" + num;
                        $.parser.parse($(a).parent());
                    }
                    else if (data.result["mode"] == 0) {
                        //新规上传正常
                        $("#message").append("<p class=\"info\" style=\"font:50px;color:mediumorchid\">上传正常</p>");
                        //清空选择的文件
                        $("#addfile").filebox("clear");
                        //增加删除按钮
                        $("#attach").prepend("<tr id=\"li_" + num + "\"><th id=\"item_" + num + "\">" + data.result["filename"] + "</th><td><a href=\"javascript:void(0)\" class=\"easyui-linkbutton\"  style=\"width:40px\" id=\"del_" + num + "\">del</a><input type=\"hidden\"  id=\"fileid" + num + "\" value=\"" + data.result["fileid"] + "\"><input type=\"hidden\"  name=\"fieldnamecombox\" value=\"" + data.result["fileid"]+"/"+data.result["filename"] + "\"></td><td><a href=\"/todo/_download_file/" + data.result["fileid"] + "\" class=\"easyui-linkbutton\" style=\"width:70px\" id=\"download_" + num + "\">download</a></td></tr>");
                        //渲染增加部分的样式
                        var a = "#li_" + num;
                        $.parser.parse($(a).parent());
                    }
                 }else if (data.result["result"]== 1) {
                    //上传异常
                    $("#message").append("<p class=\"info\" tyle=\"font:50px;color:red\">上传失败，请再次上传！</p>")
                 }
             }
         });
     });
     //文件删除
    $("#attach").on("click","td>a[id^='del_']",function(){
        //清除msg领域信息
        $("#message").empty();
        var fileid2 = $(this).nextAll().filter("input[id^='fileid']").val();
        var fieldname = $(this).nextAll().filter("input[id^='fieldname']").val();
        var li_num = "li_"+ $(this).nextAll().filter("input[id^='fileid']").attr("id").substr(-1)
        var action_f = '{{ url_for('todo.del_file',fileid='fileid1') }}'.replace('fileid1',fileid2);
        //var form = $(this).closest('form');
        //form.attr('action',action_f).trigger('submit');
        $.get($SCRIPT_ROOT + '/todo/_del_file/'+fileid2, { item_id:$('#item_id').val(),fieldname:fieldname},
             function (data) {
                 if (data.result["result"] == 0) {
                        //更新删除正常
                        $("#message").append("<p class=\"info\" style=\"font:50px;color:mediumorchid\">删除成功</p>");
                        //删除结点
                        $("tr").detach("[id='"+ li_num+"']");
                 }else if (data.result["result"]== 1) {
                    //删除异常
                    $("#message").append("<p class=\"info\" tyle=\"font:50px;color:red\">删除失败，请再次删除！</p>")
                 }
         });
     });

</script>
</body>
</html>