<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>QYTool</title>
    <!-- 载入easyUI-->
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui-1.5.5/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui-1.5.5/jquery.easyui.mobile.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui-1.5.5/jquery.easyui.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui-1.5.5/locale/easyui-lang-zh_CN.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-easyui-1.5.5/themes/bootstrap/easyui.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-easyui-1.5.5/themes/icon.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-easyui-1.5.5/themes/mobile.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-easyui-1.5.5/themes/mycss.css')}}">
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    </script>
    <style type="text/css">
        .datalist {
            background-color: #00CED1;
        }
    </style>
</head>
<body>
 {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
{% if error %}
    {% for errorcontent in error %}
        <p class="error"><strong>Error:</strong> {{ errorcontent }}
    {% endfor %}
{% endif %}
<form id="testform" action="{{ url_for('sw2changed') }} " method="post">
<input type="hidden"  id="from_index_return_list" value="{{ from_index_return_list_value }}">
<div class="easyui-navpanel">
    <header>
        <div class="m-toolbar">
            <span class="m-title">TODO_List</span>
            <span class="m-right"><a href="{{ url_for('detail_display',item='') }}" class="easyui-linkbutton" plain="true" outline="true"
                                     onclick="">新建</a></span>
        </div>
    </header>
    <div id="accordion1" class="easyui-accordion" fit="false" border="true" data-options="multiple:true">
        <div title="超过期限">
            <ul class="m-list">
            </ul>
        </div>

        <div title="指定日期或状态查看" id="searcheara">

           <input id="startday" name="startday_name" class="easyui-datebox" prompt="请输入开始日" data-options="editable:false" style="width: 35%" value="{{ '%s'% request.form['startday_name'] if "startday_name" in request.form else session['startday_Session']}}"> - <input id="endday" name="endday_name" class="easyui-datebox" prompt="请输入结束日" data-options="editable:false,validType:'equaldDate[\'#startday\']'" style="width: 35%" value="{{ '%s'% request.form['endday_name'] if "endday_name" in request.form else session['endday_Session'] }}">
            {% if statechecked == "false" %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="sw1" name="sw1_name" class="easyui-switchbutton" data-options="onText:'完了',offText:'继续中'" style="width: 20%;" >
            {% elif  statechecked == "true"  %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="sw1" name="sw1_name" class="easyui-switchbutton" data-options="onText:'完了',offText:'继续中'" style="width: 20%;" checked=true>
            {% endif %}
            <input id="titleinput" class="easyui-textbox" name="titleinput_name"  prompt="请输入标题" style="width:60%"  value="{{ '%s'% request.form['titleinput_name'] if "titleinput_name" in request.form else session['titleinput_name_session']}}"/>
            <br>
            <div style="text-align: right"><a id="linksubmitd" href="javascript:void(0)" class="easyui-linkbutton" plain="true" outline="true">查询</a></div>
            <input type="hidden" name="sw1_name_hidden" id="sw1_hidden" value="{{ sw1_name_hidden_value }}">
        </div>

    </div>
</div>
<div class="easyui-navpanel">
    <div style="text-align: right">
        {% if statechecked2 == "false" %}
            <input id="sw2" name="sw2_name" class="easyui-switchbutton" data-options="onText:'凭密可见',offText:'对外公开'"  style="width: 20%">
        {% elif  statechecked2 == "true"  %}
            <input id="sw2" name="sw2_name" class="easyui-switchbutton" data-options="onText:'凭密可见',offText:'对外公开'"  style="width: 20%" checked>
        {% endif %}
    </div>
    <input type="hidden" name="sw2_name_hidden" id="sw2_hidden" value="{{ sw2_name_hidden_value }}" >
    <div id="dl" data-options="
				fit: false,
				border: true,
				lines: true
				">
    </div>
</div>
</form>
<script>
    /*
    var data = [
        {"group": "FL-DSH-01", "item": "Tailless"},
        {"group": "FL-DSH-02", "item": "Adult Female"},
        {"group": "FL-DSH-02", "item": "Adult Male"},
        {"group": "FL-DSH-01", "item": "With tail"}
    ];
    */

    $(function () {
        var sw1_setvalue = $('#sw1').switchbutton("options").checked;
        var sw2_setvalue = $('#sw2').switchbutton("options").checked;
        //console.log("{{ session['startday_Session'] }}")
        if ($("#from_index_return_list").attr("value")=="true") {
             $('#startday').val("{{ session['startday_Session'] }}");
             //console.log($('#startday').attr("value"))
             $('#endday').val("{{ session['endday_Session'] }}");
             $('#titleinput').val("{{ session['titleinput_name_session'] }}");
             sw1_setvalue = "{{ session['sw1_Session'] }}";
             sw2_setvalue = "{{ session['sw2_Session'] }}";
        }
        //显示一栏
        if ($('p.error').get(0) == null) {
            $.getJSON($SCRIPT_ROOT + '/_get_todo', {
                startday: $('#startday').val(),
                endday: $('#endday').val(),
                sw1_setvalue: sw1_setvalue,
                sw2_setvalue: sw2_setvalue,
                title:$('#titleinput').val()
            }, function (data) {
                var viewdata;
                if (data.result.length == 0) {
                    viewdata = [{"group": "", "item": "无检索结果"}];
                } else {
                    viewdata = data.result;
                }
                $('#dl').datalist({
                    data: viewdata,
                    valueField:'valueid',
                    textField: 'item',
                    groupField: 'group',
                    textFormatter: function (value) {
                        if (data.result.length != 0) {
                            return '<a href="javascript:void(0)" class="datalist-link">' + value + '</a>';
                        } else {
                            return '<p>' + value + '</p>';
                        }
                    },
                    groupFormatter: function (value, rows) {
                        // var s = rows.css.backgroundColor.valueOf();s..val("#00CED1")
                        return "<span style='color:red'>" + value + "<span>"
                        //return "background-color:green"
                    },
                    onClickRow: function (index, row) {
                         if (data.result.length != 0) {
                             var action_f = sprintf("{{ url_for('detail_display',item = '{0}')}}", row.valueid);
                             $("#testform").attr("action", action_f);
                             $("#testform").submit();
                         }
                        //$.mobile.go('#p2');
                    }
                });
            });
        }else {
            var viewdata = [{"group": "", "item": "无检索结果"}];
            $('#dl').datalist({
                data: viewdata,
                textField: 'item',
                groupField: 'group'
                });
        }
         //显示超过期限的数据

        $.getJSON($SCRIPT_ROOT + '/_get_timeup_todo',{sw1_setvalue:sw1_setvalue,sw2_setvalue:sw2_setvalue},function(data) {
                $.each(data, function(i) {
                    //console.log(data[i])
                    var data1 = data[i]
                    if (data1.length == 0) {
                         $("<li>真棒！全完成了！</li>").appendTo(".m-list");
                    } else{
                        for (var j=0;j<data1.length;j++)
                    {
                        //console.log(data1[j]['title'])
                        var link_f = sprintf("{{ url_for('detail_display',item = '{0}')}}", data1[j]['value_id']);
                        $("<li><a href='"+ link_f +"'>"+data1[j]['title']+"</a></li>").appendTo(".m-list");
                    }
                    }
                  })
        });
        //默认选中公开
        $('#sw2').switchbutton({
            onChange: function(checked){
                 if (checked == true){
                     $("#sw2_hidden").val("True")
                 }else if (checked == false) {
                     $("#sw2_hidden").val("False")
                 }
                $("#testform").submit();
           }
        })
        //默认选中继续中；并随值的改变把值存入hidden中
         $('#sw1').switchbutton({
             onChange: function (checked) {
                 if (checked == true){
                     $("#sw1_hidden").attr("value","True");
                 }else if (checked == false) {
                     $("#sw1_hidden").attr("value","False");
                 }
             }
        })

        $('#linksubmitd').bind('click', function(){
          $("#testform").submit()
        });

        //有错误的时候打开输入面板展现错误
        if ($('p.error').get(0) != null || $('startday').val() != undefined || $('endday').val() != undefined || $('#sw1').switchbutton("options").checked == true) {
            $('#accordion1').accordion("select","指定日期或状态查看");
        };
    })

    $.extend($.fn.validatebox.defaults.rules, {
        equaldDate: {
           validator: function(value, param){
               if(value != '')  {
                    var d1 = $(param[0]).datetimebox('getValue');  //获取开始时间
                    return value >=d1;  //有效范围为大于开始时间的日期
               }
            },
           message: '开始日期不能晚于结束日期(不含当日)!'
        }
    });
sprintf = function() {
   var num = arguments.length;
   var oStr = arguments[0];
   for (var i = 1; i < num; i++) {
     var pattern = "\\{" + (i-1) + "\\}";
     var re = new RegExp(pattern, "g");
     oStr = decodeURI(oStr).replace(re, arguments[i]);
   }
   return encodeURI(oStr);
 }
</script>

</body>
</html>